Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2020-08-19, S. Haug, University of Bern.

# 1. Data Management

Estimated study time is up to 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter lab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting 
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data my be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. hard disk. This part of the data management is normally taken care of by engineers. 

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills. 

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned, prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc. 
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.

### 1. Getting used to Jupyter lab and computational notebooks

Jupyter lab is a "laboratory" where you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster. 

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option Enter = Run cell and Insert new cell below

*Exercises (10 min)*
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [ ]:
# Write some Python here

print('Hallo Sigve')

### 2. Import a dataset into a Python DataFrame

Pandas is a Python Module/Library for data analysis and manipulation. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data manipulation with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code paths written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [27]:
import pandas

In [2]:
# import the python module pandas with the abbreviation pd
import pandas as pd
# Read the data in the iris.csv file into a dataframe
dataframe = pd.read_csv('iris.csv',dtype='str',names=['slength','swidth','plength','pwidth','species']) # data type is a string (str), i.e. not converted into numbers
dataframe # print data

    slength swidth plength pwidth         species
0       5.1    3.5     1.4    0.2     Iris-setosa
1       4.9      3     1.4    0.2     Iris-setosa
2       4.7    3.2     1.3    0.2     Iris-setosa
3       4.6    3.1     1.5    0.2     Iris-setosa
4         5    3.6     1.4    0.2     Iris-setosa
..      ...    ...     ...    ...             ...
145     6.7      3     5.2    2.3  Iris-virginica
146     6.3    2.5       5    1.9  Iris-virginica
147     6.5      3     5.2      2  Iris-virginica
148     6.2    3.4     5.4    2.3  Iris-virginica
149     5.9      3     5.1    1.8  Iris-virginica

[150 rows x 5 columns]

The notebook shows 50 rows per default. We can change this as we like:

In [43]:
pd.set_option('display.max_rows', 100) # or whatever number you like or None

In [24]:
dataframe

    slength swidth plength pwidth         species
0       5.1    3.5     1.4    0.2     Iris-setosa
1       4.9      3     1.4    0.2     Iris-setosa
2       4.7    3.2     1.3    0.2     Iris-setosa
3       4.6    3.1     1.5    0.2     Iris-setosa
4         5    3.6     1.4    0.2     Iris-setosa
..      ...    ...     ...    ...             ...
145     6.7      3     5.2    2.3  Iris-virginica
146     6.3    2.5       5    1.9  Iris-virginica
147     6.5      3     5.2      2  Iris-virginica
148     6.2    3.4     5.4    2.3  Iris-virginica
149     5.9      3     5.1    1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   slength  150 non-null    object
 1   swidth   150 non-null    object
 2   plength  150 non-null    object
 3   pwidth   150 non-null    object
 4   species  150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

In [ ]:
dataframe. #(tab completion - type tab after the dot to see all methods)

Get help about this object, if there is any:

In [26]:
dataframe?

And, what you will probably use the most, the online package information and examples by googling.

### Exercise 1.1 (10 min)

Read the Swiss BAG Corona data into a dataframe and look at it. The URL is
'https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx'.

You will probably need to consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a excel sheets into a pandas dataframe.

In [32]:
pd.read_excel?

In [37]:
url = 'https://www.bag.admin.ch/dam/bag/de/dokumente/mt/k-und-i/aktuelle-ausbrueche-pandemien/2019-nCoV/covid-19-datengrundlage-lagebericht.xlsx.download.xlsx/200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx'

In [35]:
df = pd.read_excel(url, skiprows = 6)

In [38]:
df = pd.read_excel(url, header = 6)

In [44]:
df

,Datum,Fallzahlen pro Tag,"Fallzahlen pro Tag, kumuliert",Hospitalisationen pro Tag,"Hospitalisationen pro Tag, Kumuliert",Todesfälle pro Tag,"Todesfälle pro Tag, kumuliert"
0,2020-02-24,1,1,5,5,NaN,NaN
1,2020-02-25,1,2,4,9,NaN,NaN
2,2020-02-26,10,12,9,18,NaN,NaN
3,2020-02-27,10,22,4,22,NaN,NaN
4,2020-02-28,10,32,5,27,NaN,NaN
...,...,...,...,...,...,...,...
172,2020-08-14,234,38053,4,4279,0.0,1715.0
173,2020-08-15,140,38193,0,4279,2.0,1717.0
174,2020-08-16,130,38323,4,4283,0.0,1717.0
175,2020-08-17,126,38449,0,4283,0.0,1717.0
176,2020-08-18,0,38449,0,4283,0.0,1717.0

In [45]:
df.info

<bound method DataFrame.info of          Datum  Fallzahlen pro Tag  Fallzahlen pro Tag, kumuliert  \
0   2020-02-24                   1                              1
1   2020-02-25                   1                              2
2   2020-02-26                  10                             12
3   2020-02-27                  10                             22
4   2020-02-28                  10                             32
..         ...                 ...                            ...
172 2020-08-14                 234                          38053
173 2020-08-15                 140                          38193
174 2020-08-16                 130                          38323
175 2020-08-17                 126                          38449
176 2020-08-18                   0                          38449

     Hospitalisationen pro Tag  Hospitalisationen pro Tag, Kumuliert  \
0                            5                                     5
1                            4                                     9
2                            9                                    18
3                            4                                    22
4                            5                                    27
..                         ...                                   ...
172                          4                                  4279
173                          0                                  4279
174                          4                                  4283
175                          0                                  4283
176                          0                                  4283

     Todesfälle pro Tag  Todesfälle pro Tag, kumuliert
0                   NaN                            NaN
1                   NaN                            NaN
2                   NaN                            NaN
3                   NaN                            NaN
4                   NaN                            NaN
..                  ...                            ...
172                 0.0                         1715.0
173                 2.0                         1717.0
174                 0.0                         1717.0
175                 0.0                         1717.0
176                 0.0                         1717.0

[177 rows x 7 columns]>

### 3. Indexing on a DataFrame

By methods:

In [46]:
dataframe

    slength swidth plength pwidth         species
0       5.1    3.5     1.4    0.2     Iris-setosa
1       4.9      3     1.4    0.2     Iris-setosa
2       4.7    3.2     1.3    0.2     Iris-setosa
3       4.6    3.1     1.5    0.2     Iris-setosa
4         5    3.6     1.4    0.2     Iris-setosa
..      ...    ...     ...    ...             ...
145     6.7      3     5.2    2.3  Iris-virginica
146     6.3    2.5       5    1.9  Iris-virginica
147     6.5      3     5.2      2  Iris-virginica
148     6.2    3.4     5.4    2.3  Iris-virginica
149     5.9      3     5.1    1.8  Iris-virginica

[150 rows x 5 columns]

In [40]:
dataframe.iat[149,1] # by integer numbers (row 149, column 1)

'3'

In [41]:
dataframe.at[149,'slength'] # by row number and column name

'5.9'

In [47]:
dataframe.iat[149,1]=10 # Assign a new value

Indexing a group/subset of the dataframe

In [53]:
dataframe.iloc[148:-1]

    slength swidth plength pwidth         species
148     6.2    3.4     5.4    2.3  Iris-virginica

In [48]:
sdf = dataframe.iloc[0:10,0:5]
print(sdf)

  slength swidth plength pwidth      species
0     5.1    3.5     1.4    0.2  Iris-setosa
1     4.9      3     1.4    0.2  Iris-setosa
2     4.7    3.2     1.3    0.2  Iris-setosa
3     4.6    3.1     1.5    0.2  Iris-setosa
4       5    3.6     1.4    0.2  Iris-setosa
5     5.4    3.9     1.7    0.4  Iris-setosa
6     4.6    3.4     1.4    0.3  Iris-setosa
7       5    3.4     1.5    0.2  Iris-setosa
8     4.4    2.9     1.4    0.2  Iris-setosa
9     4.9    3.1     1.5    0.1  Iris-setosa

**Important** 
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [49]:
sdf['slength']

0    5.1
1    4.9
2    4.7
3    4.6
4      5
5    5.4
6    4.6
7      5
8    4.4
9    4.9
Name: slength, dtype: object

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [50]:
s_df = dataframe[dataframe['species']=='Iris-setosa']

In [51]:
s_df

   slength swidth plength pwidth      species
0      5.1    3.5     1.4    0.2  Iris-setosa
1      4.9      3     1.4    0.2  Iris-setosa
2      4.7    3.2     1.3    0.2  Iris-setosa
3      4.6    3.1     1.5    0.2  Iris-setosa
4        5    3.6     1.4    0.2  Iris-setosa
5      5.4    3.9     1.7    0.4  Iris-setosa
6      4.6    3.4     1.4    0.3  Iris-setosa
7        5    3.4     1.5    0.2  Iris-setosa
8      4.4    2.9     1.4    0.2  Iris-setosa
9      4.9    3.1     1.5    0.1  Iris-setosa
10     5.4    3.7     1.5    0.2  Iris-setosa
11     4.8    3.4     1.6    0.2  Iris-setosa
12     4.8      3     1.4    0.1  Iris-setosa
13     4.3      3     1.1    0.1  Iris-setosa
14     5.8      4     1.2    0.2  Iris-setosa
15     5.7    4.4     1.5    0.4  Iris-setosa
16     5.4    3.9     1.3    0.4  Iris-setosa
17     5.1    3.5     1.4    0.3  Iris-setosa
18     5.7    3.8     1.7    0.3  Iris-setosa
19     5.1    3.8     1.5    0.3  Iris-setosa
20     5.4    3.4     1.7    0.2  Iris-setosa
21     5.1    3.7     1.5    0.4  Iris-setosa
22     4.6    3.6       1    0.2  Iris-setosa
23     5.1    3.3     1.7    0.5  Iris-setosa
24     4.8    3.4     1.9    0.2  Iris-setosa
25       5      3     1.6    0.2  Iris-setosa
26       5    3.4     1.6    0.4  Iris-setosa
27     5.2    3.5     1.5    0.2  Iris-setosa
28     5.2    3.4     1.4    0.2  Iris-setosa
29     4.7    3.2     1.6    0.2  Iris-setosa
30     4.8    3.1     1.6    0.2  Iris-setosa
31     5.4    3.4     1.5    0.4  Iris-setosa
32     5.2    4.1     1.5    0.1  Iris-setosa
33     5.5    4.2     1.4    0.2  Iris-setosa
34     4.9    3.1     1.5    0.1  Iris-setosa
35       5    3.2     1.2    0.2  Iris-setosa
36     5.5    3.5     1.3    0.2  Iris-setosa
37     4.9    3.1     1.5    0.1  Iris-setosa
38     4.4      3     1.3    0.2  Iris-setosa
39     5.1    3.4     1.5    0.2  Iris-setosa
40       5    3.5     1.3    0.3  Iris-setosa
41     4.5    2.3     1.3    0.3  Iris-setosa
42     4.4    3.2     1.3    0.2  Iris-setosa
43       5    3.5     1.6    0.6  Iris-setosa
44     5.1    3.8     1.9    0.4  Iris-setosa
45     4.8      3     1.4    0.3  Iris-setosa
46     5.1    3.8     1.6    0.2  Iris-setosa
47     4.6    3.2     1.4    0.2  Iris-setosa
48     5.3    3.7     1.5    0.2  Iris-setosa
49       5    3.3     1.4    0.2  Iris-setosa

Vectorized dataframe manipulations...

In [56]:
sdf['half slength']=sdf['slength'].astype('float')/2
sdf

  slength swidth plength pwidth      species  half slength
0     5.1    3.5     1.4    0.2  Iris-setosa          2.55
1     4.9      3     1.4    0.2  Iris-setosa          2.45
2     4.7    3.2     1.3    0.2  Iris-setosa          2.35
3     4.6    3.1     1.5    0.2  Iris-setosa          2.30
4       5    3.6     1.4    0.2  Iris-setosa          2.50
5     5.4    3.9     1.7    0.4  Iris-setosa          2.70
6     4.6    3.4     1.4    0.3  Iris-setosa          2.30
7       5    3.4     1.5    0.2  Iris-setosa          2.50
8     4.4    2.9     1.4    0.2  Iris-setosa          2.20
9     4.9    3.1     1.5    0.1  Iris-setosa          2.45

In [65]:
s_df2 = sdf[(sdf['half slength'] > 2.3) & sdf['swidth'].astype('float') < 3.2]
s_df2

  slength swidth plength pwidth      species  half slength
0     5.1    3.5     1.4    0.2  Iris-setosa          2.55
1     4.9      3     1.4    0.2  Iris-setosa          2.45
2     4.7    3.2     1.3    0.2  Iris-setosa          2.35
3     4.6    3.1     1.5    0.2  Iris-setosa          2.30
4       5    3.6     1.4    0.2  Iris-setosa          2.50
5     5.4    3.9     1.7    0.4  Iris-setosa          2.70
6     4.6    3.4     1.4    0.3  Iris-setosa          2.30
7       5    3.4     1.5    0.2  Iris-setosa          2.50
8     4.4    2.9     1.4    0.2  Iris-setosa          2.20
9     4.9    3.1     1.5    0.1  Iris-setosa          2.45

### 4. Sorting on a DataFrame

...

In [70]:
sdf.sort_values(['slength','swidth'])

  slength swidth plength pwidth      species  half slength
8     4.4    2.9     1.4    0.2  Iris-setosa          2.20
3     4.6    3.1     1.5    0.2  Iris-setosa          2.30
6     4.6    3.4     1.4    0.3  Iris-setosa          2.30
2     4.7    3.2     1.3    0.2  Iris-setosa          2.35
1     4.9      3     1.4    0.2  Iris-setosa          2.45
9     4.9    3.1     1.5    0.1  Iris-setosa          2.45
7       5    3.4     1.5    0.2  Iris-setosa          2.50
4       5    3.6     1.4    0.2  Iris-setosa          2.50
0     5.1    3.5     1.4    0.2  Iris-setosa          2.55
5     5.4    3.9     1.7    0.4  Iris-setosa          2.70

  slength swidth plength pwidth      species  half slength
8     4.4    2.9     1.4    0.2  Iris-setosa          2.20
3     4.6    3.1     1.5    0.2  Iris-setosa          2.30
6     4.6    3.4     1.4    0.3  Iris-setosa          2.30
2     4.7    3.2     1.3    0.2  Iris-setosa          2.35
1     4.9      3     1.4    0.2  Iris-setosa          2.45
9     4.9    3.1     1.5    0.1  Iris-setosa          2.45
7       5    3.4     1.5    0.2  Iris-setosa          2.50
4       5    3.6     1.4    0.2  Iris-setosa          2.50
0     5.1    3.5     1.4    0.2  Iris-setosa          2.55
5     5.4    3.9     1.7    0.4  Iris-setosa          2.70

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [71]:
%time s_df[s_df['species']=='Iris-setosa'].sort_values('slength')

Wall time: 2.99 ms

   slength swidth plength pwidth      species
13     4.3      3     1.1    0.1  Iris-setosa
8      4.4    2.9     1.4    0.2  Iris-setosa
38     4.4      3     1.3    0.2  Iris-setosa
42     4.4    3.2     1.3    0.2  Iris-setosa
41     4.5    2.3     1.3    0.3  Iris-setosa
22     4.6    3.6       1    0.2  Iris-setosa
3      4.6    3.1     1.5    0.2  Iris-setosa
47     4.6    3.2     1.4    0.2  Iris-setosa
6      4.6    3.4     1.4    0.3  Iris-setosa
2      4.7    3.2     1.3    0.2  Iris-setosa
29     4.7    3.2     1.6    0.2  Iris-setosa
24     4.8    3.4     1.9    0.2  Iris-setosa
30     4.8    3.1     1.6    0.2  Iris-setosa
12     4.8      3     1.4    0.1  Iris-setosa
11     4.8    3.4     1.6    0.2  Iris-setosa
45     4.8      3     1.4    0.3  Iris-setosa
9      4.9    3.1     1.5    0.1  Iris-setosa
37     4.9    3.1     1.5    0.1  Iris-setosa
34     4.9    3.1     1.5    0.1  Iris-setosa
1      4.9      3     1.4    0.2  Iris-setosa
40       5    3.5     1.3    0.3  Iris-setosa
35       5    3.2     1.2    0.2  Iris-setosa
43       5    3.5     1.6    0.6  Iris-setosa
26       5    3.4     1.6    0.4  Iris-setosa
25       5      3     1.6    0.2  Iris-setosa
49       5    3.3     1.4    0.2  Iris-setosa
4        5    3.6     1.4    0.2  Iris-setosa
7        5    3.4     1.5    0.2  Iris-setosa
23     5.1    3.3     1.7    0.5  Iris-setosa
46     5.1    3.8     1.6    0.2  Iris-setosa
44     5.1    3.8     1.9    0.4  Iris-setosa
39     5.1    3.4     1.5    0.2  Iris-setosa
19     5.1    3.8     1.5    0.3  Iris-setosa
17     5.1    3.5     1.4    0.3  Iris-setosa
21     5.1    3.7     1.5    0.4  Iris-setosa
0      5.1    3.5     1.4    0.2  Iris-setosa
32     5.2    4.1     1.5    0.1  Iris-setosa
28     5.2    3.4     1.4    0.2  Iris-setosa
27     5.2    3.5     1.5    0.2  Iris-setosa
48     5.3    3.7     1.5    0.2  Iris-setosa
16     5.4    3.9     1.3    0.4  Iris-setosa
31     5.4    3.4     1.5    0.4  Iris-setosa
10     5.4    3.7     1.5    0.2  Iris-setosa
20     5.4    3.4     1.7    0.2  Iris-setosa
5      5.4    3.9     1.7    0.4  Iris-setosa
36     5.5    3.5     1.3    0.2  Iris-setosa
33     5.5    4.2     1.4    0.2  Iris-setosa
18     5.7    3.8     1.7    0.3  Iris-setosa
15     5.7    4.4     1.5    0.4  Iris-setosa
14     5.8      4     1.2    0.2  Iris-setosa

In [73]:
%ls -  # list the file in your current directory with the linux command ls

 Le volume dans le lecteur C s’appelle Local Disk
 Le numéro de série du volume est 0816-45FC

 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1


 Répertoire de C:\Users\lione\DataScience\M1

Fichier introuvable

### 5. Filtering on a DataFrame
...

In [74]:
sdf['slength'].astype('float')>5.0 # Returns a vector with booleans

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: slength, dtype: bool

In [75]:
# We can assign the filtering result to a new dataframe
sdf_large = sdf[sdf['slength'].astype('float')>5.0]

In [76]:
# And print it
sdf_large

  slength swidth plength pwidth      species  half slength
0     5.1    3.5     1.4    0.2  Iris-setosa          2.55
5     5.4    3.9     1.7    0.4  Iris-setosa          2.70

### 6. Missing or bad data

Datasets, in particular before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

### 7. Exporting dataframes

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [78]:
sdf.to_csv('~/Desktop/myout.txt')

Now we can look at the myout.txt file with some regulare txt viewer.

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc. 
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty. 

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [77]:
sdf.myinstrument_name = 'Binky'
sdf.myinstrument_name

'Binky'

### Exercise 2

Write down here some minimal metadata about the Iris dataset:

- column names (description, features, observable, inputs,...)
- units/dimensions*
- Author/source/reference/version
- Manipulation of data, with which version of Python

summary: everything needed for reproduction


(*The dimentions of a numpy table or dataframe is often called the shape - 150x5)

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module. 

Try to understand the following code and alter it to do something else.

In [85]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
print(files)
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
print('xxxxxxxxxxxxxxxxxxxxxx')
print(file)
print(files)
print('xxxxxxxxxxxxxxxxxxxxxx')
print(nb_files)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

['.ipynb_checkpoints', '02-M1-D1-DM.ipynb', '200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx', '200325_Datengrundlage_Grafiken_COVID-19-Bericht_modified.xlsx', 'CAS-ADS-M1-D1-2019.pptx', 'CAS-ADS-M1-D2.pptx', 'CAS-ADS-M1-D3.pptx', 'CAS-ADS-M1-Project-Template.docx', 'Example projet', 'iris.csv', 'M1-D1-DM-Solutions.ipynb', 'M1-D2-DV.ipynb', 'M1-D3-WWW (1).ipynb', 'newnbdir', 'old', 'Scatterplot']
xxxxxxxxxxxxxxxxxxxxxx
Scatterplot
['.ipynb_checkpoints', '02-M1-D1-DM.ipynb', '200325_Datengrundlage_Grafiken_COVID-19-Bericht.xlsx', '200325_Datengrundlage_Grafiken_COVID-19-Bericht_modified.xlsx', 'CAS-ADS-M1-D1-2019.pptx', 'CAS-ADS-M1-D2.pptx', 'CAS-ADS-M1-D3.pptx', 'CAS-ADS-M1-Project-Template.docx', 'Example projet', 'iris.csv', 'M1-D1-DM-Solutions.ipynb', 'M1-D2-DV.ipynb', 'M1-D3-WWW (1).ipynb', 'newnbdir', 'old', 'Scatterplot']
xxxxxxxxxxxxxxxxxxxxxx
['02-M1-D1-DM.ipynb', 'M1-D1-DM-Solutions.ipynb', 'M1-D2-DV.ipynb', 'M1-D3-WWW (1).ipynb']

In [86]:
import shutil, os

files = os.listdir()
nb_files = []
for file in files:
    if '.ipynb' in file and file[0]!='.':
        nb_files.append(file)

for i in nb_files:
    shutil.copy(i, 'newnbdir')

### Exercise 3

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [ ]:
# Solve your exercise here

### Exercise 4 

Print the list of Swiss cantons with the number of registered positive COVID19 tests since March. The list should be sorted so that the highest number occurs first. This should be doable with 3-10 lines of Python.

# End of today - remember to fill the mandatory form

Everyone has to fill this form by 10 pm : https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.